$_primary-blue: #aee8da;
$_primary-beige: #ebe0d3;
$_primary-gray: #f4f0f0;
$_primary-white: #ffffff;
$_primary-black: #000000;

$brand: $_primary-blue;

$btn-primary: $_primary-blue;
$btn-secondary: $_primary-beige;
$btn-tertiary: $_primary-white;

$bg-primary: $_primary-blue;
$bg-secondary: $_primary-white;

$border-primary: $_primary-gray;

$text-primary: $_primary-black;

$white: $_primary-white;
$black: $_primary-black;
