@use "../settings/border";
@use "../settings/colors";
@use "../tools/typography";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: border.$radius-large;
  border: 5px solid colors.$border-primary;
  padding: 0.5rem;
  background-color: colors.$bg-secondary;
  box-shadow: -1px 1px 3px 0px #9e9e9e;

  &__title {
    margin-top: 1rem;
    text-transform: uppercase;
    @include typography.h400-regular;
  }
}
